body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}
#app {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.item {
    text-align: center;
}
.item img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.item button {
    margin: 5px;
}
#top-rankings {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.top-item {
    text-align: center;
    width: 18%;
}
.top-item img {
    max-width: 100px;
    height: auto;
}
